.git
.github
.next
.turbo
node_modules
**/node_modules
dist
**/dist

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

apps/web/.next
apps/web/out
docs/design/mobile-reference
